<div class="container-fluid py-5 bg-silver">
  <div class="row mx-0">
    <div class="col-12 mb-3">
      <div class="d-flex justify-content-between">
        <h5>Edit Ads Source :: <%= params[:id] %></h5>
      </div>
    </div>
    <%= render 'form' %>
    <div class="col-md-4 col-12">
      <div class="rounded shadow bg-light core p-4">
        _summary or anything
      </div>
    </div>
  </div>
</div>