<div class="container-fluid py-5 bg-silver">
  <div class="row mx-0">
    <div class="col-12 mb-4">
      <div class="d-flex justify-content-between">
        <h5 class="my-auto">Ads Sources</h5>
        <a href="<%= new_source_path %>" class="btn btn-default black my-auto">+ Create New Ads</a>
      </div>
    </div>
    <div class="col-12">
      <div class="rounded bg-light core shadow py-4 px-3">
        <table class="table croped mb-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Source Name</th>
              <th scope="col" class="text-center">Cost</th>
              <th scope="col" class="text-center">Target</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col" class="text-center">Display</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @sources.each do |source| %>
            <tr>
              <th scope="row"><%= source["_id"]["$oid"] %></th>
              <td><%= source["name"] %></td>
              <td class="text-center"><%= source["cost"] %></td>
              <td class="text-center"><%= source["target"].present? ? source["target"] : "-" %></td>
              <td class="text-center"><%= source["schedule_start"].to_date.strftime("%B %d, %Y") if source["schedule_start"].present? %> - <%= source["schedule_end"].to_date.strftime("%B %d, %Y") if source["schedule_end"].present? %></td>
              <td class="text-center"><%= source["count"].to_i %></td>
              <td>
                <div class="btn-group">
                  <a href="<%= edit_source_path(source["_id"]["$oid"]) %>" class="btn btn-default gray outline py-3 px-4 active"><span class="black">Edit</span></a>
                  <a href="<%= source_path(source["_id"]["$oid"]) %>" data-method="delete" data-confirm="Are you sure?" rel="nofollow" class="btn btn-default gray outline py-3 px-4 active"><span class="black">Delete Ads</span></a>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div
