<div class="container-fluid py-5 bg-silver">
  <div class="row mx-0">
    <div class="col-12 mb-4">
      <div class="d-flex justify-content-between">
        <h5 class="my-auto">Campaigns</h5>
        <a href="<%= new_campaign_path %>" class="btn btn-default black my-auto">+ Create New Campaign</a>
      </div>
    </div>
    <div class="col-12">
      <div class="rounded bg-light core shadow py-4 px-3">
        <table class="table croped mb-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Campaign Name</th>
              <th scope="col" class="text-center">Model</th>
              <th scope="col" class="text-center">Zone</th>
              <th scope="col" class="text-center">Size</th>
              <th scope="col" class="text-center">Target</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @campaigns.each do |campaign| %>
            <tr>
              <th><%= campaign["_id"]["$oid"] %></th>
              <td><%= campaign["name"] %></td>
              <td class="text-center"><%= campaignModel(campaign["model"]) %></td>
              <td class="text-center"><%= campaignZone(campaign["zone"]) %></td>
              <td class="text-center"><%= campaignSize(campaign["size"]) %></td>
              <td class="text-center"><%= campaign["target"].present? ? campaign["target"] : "-" %></td>
              <td>
                <div class="btn-group">
                  <a href="<%= edit_campaign_path(campaign["_id"]["$oid"]) %>" class="btn btn-default gray outline py-3 px-4 active"><span class="black">Edit</span></a>
                  <button type="button" class="btn btn-default gray outline" data-toggle="modal" data-target="#getCodeModal" data-campaign="<%= campaign["_id"]["$oid"] %>" data-script="<%= "<script src=\"https://adstrue.vncdn.vn/uid/#{campaign["_id"]["$oid"]}.js\"><script>" %>"><span class="my-auto mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><path id="ic_code_24px" d="M9.4,16.6,4.8,12,9.4,7.4,8,6,2,12l6,6Zm5.2,0L19.2,12,14.6,7.4,16,6l6,6-6,6-1.4-1.4Z" transform="translate(-2 -6)" fill="#333333"/></svg></span><span class="my-auto black">Get Code</span></button>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="getCodeModal" tabindex="-1" role="dialog" aria-labelledby="getCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="getCodeModalLabel">Get Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Embed:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$("#getCodeModal").on("show.bs.modal", function (e) {
  var button = $(e.relatedTarget)
  var campaign = button.data('campaign')
  var script = button.data('script')
  var modal = $(this)

  modal.find('.modal-title').text('Campaign :: ' + campaign)
  modal.find('.modal-body textarea').val(script)
})
</script>