@import 'framework/variables';
@import 'framework/global';
@import 'libs/select2';

.nav-tabs {
  .nav-link {
    color: #333333;
    font-size: 0.875rem;
    border: none;
    &.active {
      border-bottom: 3px solid #333333;
      background-color: transparent;
    }
  }
}

.daterangepicker {
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  &:before {
    display: none;
    visibility: hidden;
  }
  .drp-calendar {
    &.left {
      padding: 0.5rem 0 0.5rem 0.5rem;
    }
  }

  .calendar-table {
    td {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      &.in-range {
        border-radius: 0;
        background-color: #f1f1f1;
      }
    }
  }

  td.active {
    background-color: #333333;
    &.start-date {
      border-radius: 2rem 0 0 2rem;
      &:hover {
        background-color: #333333;
      }
    }
    &.end-date {
      border-radius: 0 2rem 2rem 0;
      &.in-range {
        background-color: #333333;
        &:hover {
          background-color: #333333;
        }
      }
    }
  }

  .drp-buttons {
    .drp-selected {
      display: none;
      visibility: hidden;
    }

    .btn {
      padding: 0.5rem 0.75rem;
      &-primary {
        background-color: #333333;
        border-color: #333333;
      }
    }
  }
}

.modal-dialog {
  max-width: 50%;
}

.main__heading {
  width: 100%;
  height: 200px;
  background-color: #333333;
  .main__nav {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #000000;
    &-list {
      height: inherit;
      &--item {
        color: #f1f1f1;
        &:hover {
          background-color: #222222;
          text-decoration: none;
        }
        &.active {
          color: #000000;
          background-color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}